$tab: 768px;
$desk: 1024px;

$white: #c3bfb2;
$black: #000;
$brand-mystical: #8e7eb3;
$brand-sidekick: #57a9d8;
$brand-gear: #f48636;
$brand-booster: #e4c046;
$brand-heavy: #d8b757;
$brand-points: #82c9f6;
$brand-cost: #5cb58a;

$background-color: $black;
$text-color: $white;

$border-color: #6B5C61;

$font-family-icons: 'icons';
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;

$icon-cog: "\e023";
$icon-circle-cross: "\e043";
$icon-shuffle: "\e057";
$icon-share: "\e081";
