<div ng-if="['boosters', 'purchasables'].indexOf(perkCategory.id) === -1">
  <h2>Select {{perkCategory.name}}</h2>
  <button class="btn" ng-click="back()()" ng-if="perkCategory.id !== 'pistols'">None</button>
  <button class="btn btn-perk {{perk.btnClass}}" ng-repeat="perk in perkCategory.perks"
    ng-click="detailOrAdd()(perk)"
    ng-mouseover="detailMouseover()(perk)"
    ng-class="{active: perk.inLoadout}"
    ng-disabled="perk.points > (26 - loadout.points)"><img ng-src="{{getPerkImageUrl()(perk)}}" />{{perk.name}}<span class="lp">{{perk.points}} LP</span>
  </button>
</div>

<div ng-if="perkCategory.id === 'purchasables'">
  <div ng-hide="purchasableCategory">
    <h2>Select Purchasable Type</h2>
    <button class="btn" ng-click="back()()">None</button>
    <button class="btn" ng-repeat="perk in perkCategory.perks"
      ng-hide="purchasableCategory"
      ng-disabled="getPurchasableCount()(perk) >= perk.max"
      ng-click="selectPurchasableCategory()(perk)">{{perk.name}}<span class="lp">({{getPurchasableCount()(perk)}}/{{perk.max}})</span>
    </button>
  </div>
  <div ng-show="purchasableCategory" class="category-extra anim-left">
    <h2>Select {{purchasableCategory.name}}</h2>
    <button class="btn" ng-click="back()()">None</button>
    <button class="btn btn-perk {{perk.btnClass}}" ng-repeat="perk in purchasableCategory.perks"
      ng-click="detailOrAdd()(perk)"
      ng-mouseover="detailMouseover()(perk)"
      ng-class="{active: perk.inLoadout, expensive: perk.points > (26 - loadout.points)}"><img ng-src="{{getPerkImageUrl()(perk)}}" />{{perk.name}}<span class="lp" ng-hide="perk.inLoadout">{{perk.points}} LP</span><span class="lp" ng-show="perk.inLoadout">Equipped</span>
    </button>
  </div>
</div>

<div ng-if="perkCategory.id === 'boosters'">
  <div ng-hide="levelSelectPerk">
    <h2>Select {{perkCategory.name}}</h2>
    <button class="btn" ng-click="back()()">None</button>
    <button class="btn btn-perk {{perk.btnClass}}" ng-repeat="perk in perkCategory.perks"
      ng-hide="levelSelectPerk"
      ng-click="displayLevelSelect()(perk)"
      ng-mouseover="previewLevelSelect()(perk)"
      ng-class="{active: perk.inLoadout, expensive: perk.points > (26 - loadout.points)}"><img ng-src="{{getPerkImageUrl()(perk)}}" />{{perk.name}}<span class="lp" ng-hide="perk.inLoadout">{{perk.levels[0].points}} LP</span><span class="lp" ng-show="perk.inLoadout">Equipped</span>
    </button>
  </div>
  <div ng-show="levelSelectPerk" class="category-extra anim-down">
    <h2>Select Booster Level</h2>
    <button class="btn" ng-click="displayLevelSelect()()">Back</button>
    <button class="btn btn-perk {{perkLevel.btnClass}}" ng-repeat="perkLevel in levelSelectPerk.levels"
      ng-click="detailOrAdd()(levelSelectPerk, perkLevel)"
      ng-mouseover="detailMouseover()(levelSelectPerk, perkLevel)"
      ng-class="{active: levelSelectPerk.inLoadout, expensive: perkLevel.points && perkLevel.points > (26 - loadout.points)}"><img ng-src="{{getPerkImageUrl()(perkLevel)}}" />{{perkLevel.name}}<span class="lp" ng-hide="levelSelectPerk.inLoadout">{{perkLevel.points}} LP</span><span class="lp" ng-show="levelSelectPerk.inLoadout">Equipped</span>
    </button>
  </div>
</div>
